body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}
main {
    width: auto;
    padding: 20px 0px;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

.checkbox__news{
    padding: 10px;

}
.label__category {
    color: yellow;
    font-weight: 600;
    line-height: 1em;
    text-decoration: underline;
    transition: all 0.5s;
    cursor: pointer;
}


.label__category:hover{
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.github{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding: 10px;
    margin: 0 auto;
}
.rs-img{
display: block;
width: 100px;
height: 30px;
background-color: rgba( 50%, 50%, 50%, 0.8);
background-image: url('../src/assets/img/rs_school_js.svg');
background-repeat: no-repeat;
margin-bottom: 10px;
}

.github-name {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url('../src/assets/img/github\ \(1\).png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.rs-link{
    display: block;
    width: inherit;
    height: inherit;
    transition: all 0.5s;
}

.github-link {
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    transition: all 0.5s;
}

.rs-link:hover{
    background-color: aqua;
    opacity: 0.3;
}
.github-link:hover {
    background-color: aqua;
    opacity: 0.3;

}

.display__none {
    display: none;
}

@media (max-width:640px) {
    .footer {
        min-height: auto;
        justify-content: space-between;
    }
    .github {
        width: 50%;
    }
    }
    @media (max-width:440px) {
        .github {
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
        }
        }
